h4 {
    float: right;
    display: inline-block;
}

#root {
    padding: 20px;
}

h1 {
    display: inline;

}

.table {
    /* border-collapse: collapse; */
    /* border-spacing: 0; */
    width: 60%;
    border: 1px solid black;
    float:left;
    margin-top: 10px;
}

.thead-dark{
    width:60%;
}

.form {
    width: 30%;
    /* display: inline-block; */
    float:right;
    margin:10px;

}

.cnclbtn{
    width: 30%;
    /* display: inline-block; */
    float: right;

}

.btn-primary{
    width:80px;
    margin:20px;
}

.badge-secondary{
    margin:10px;
}
